/* * {
    cursor: url(./po.png), auto;
  } */

/* 文档主体字号 */
.content {
  font-size: 13px;
}

/* 文档区域字号 */
.vp-doc blockquote>p {
  font-size: 13px;
}

/* 文档图片大小 */
img,
video {
  max-width: 70%;
}
/* 文档图片居中 */
img {
  display: block;
  margin: 0 auto;
}
